.member-card {
   display: flex;
   border: 1px solid #ccc;
   border-radius: 0.5rem;
   padding: 1rem;
   margin: 1rem;
   gap: 1rem;
}

.member-card > div {
  flex-basis: 25%;
}

.member-card.header {
  border: none;
  font-weight: bold;
}

.member-form > * {
  margin: 0.5rem 1rem;
}

.member-form {
  margin-top: 5rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.member-form > div > label {
  display: flex;
}

.member-form > div > label > * {
  width: 50%;
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
}

input, button {
  padding: .5rem;
  border-radius: .25rem;
  border: 1px solid #ccc;
}